    canvas{/*Otra forma de aplicarle estilo al canvas es desde javasCript*/
    border:1px solid #000;
    /*width: 480px;
    height: 360px;*/
}
/*
    section{
        display: inline-block;
    }
    */

svg{
    border:1px solid #000;
}

.fondoRojo{
    fill:#a00;
}
.bordeAzul{
    stroke: #00a;
    stroke-width: 2px;
}